.ant-carousel .slick-slide {
    position: relative;
}

.ant-carousel .slick-slide img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    filter: brightness(50%);
}

.ant-carousel .slick-prev {
    left: 50px;
}

.ant-carousel .slick-next {
    right: 50px;
}

.ant-carousel .slick-next::after {
    width: 25px !important;
    height: 25px !important;
    stroke-width: 5px !important;
}

.ant-carousel .slick-prev::after {
    width: 25px !important;
    height: 25px !important;
    stroke-width: 5px !important;
}

/* Matnlarni rasmning ichida markazlashtirish */
.ant-carousel h3,
.ant-carousel p,
.ant-carousel .button {
    position: absolute;
    text-align: start;
    color: white;
    width: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* H3 uchun kichik bo'lsa, kattaroq matn */
.ant-carousel h3 {
    font-weight: 800;
    font-size: 24px;
    top: 20%;
    left: 10%;
}

.ant-carousel p {
    top: 43%;
    left: 9%;
}

.ant-carousel .button {
    top: 60%;
    left: 10%;
    width: 150px;
    text-align: center;
}

/* P taglari uchun */
.ant-carousel p {
    font-size: 16px;
    margin-top: 10px;
}

/* Button styling */
.ant-carousel button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.ant-carousel .button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* carousel.css */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    font-size: 36px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    font-size: 40px;
}

/* carousel.css */
.ant-carousel .slick-dots {
    position: absolute;
    bottom: 40px;
    /* Dotsni carouselning pastki qismiga joylashtirish */
    left: 50%;
    transform: translateX(-50%);
    /* Dotsni markazlashtirish */
    z-index: 20;
    /* Dotsni yuqoriga olib chiqish */
}

.ant-carousel .slick-dots li button {
    background-color: rgba(255, 255, 255, 0.7);
    /* Dots uchun fon rangi */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: background-color 0.3s;
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: rgba(255, 255, 255, 1);
    /* Faol dot uchun o'zgargan rang */
}

/* Dotsga hover effekti */
.ant-carousel .slick-dots li button:hover {
    background-color: rgba(255, 255, 255, 1);
    /* Hoverda faollashgan dot */
}



/* Carousel konteynerini responsiv qilish */




.carousel-slide img {
    width: 100%;
    /* Rasmni kengligini 100% qilish */
    height: auto;
    /* Balansni saqlash */
    max-height: 400px;
    /* Rasmning maksimal balandligini o'rnating */
    object-fit: cover;
    /* Rasmni kesish va qoplash */
}

.carousel-slide h3 {
    font-size: 24px;
    color: #fff;
    margin-top: 15px;
}

.carousel-slide p {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    padding: 0 20px;
    /* Textni xohlagan joyingizga surish */
}

.carousel-slide .button {
    background-color: #0099B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: .3s;
    cursor: pointer;
}

.carousel-slide .button:hover {
    background-color: #03afce;
}

/* Mobil uchun responsiv o'lchamlar */

@media (max-width: 1024px) {
    .carousel-slide h3 {
        top: 15%;

    }
    .carousel-slide p {
        top: 35%;
        
    }
}

@media (max-width: 868px) {
    .carousel-slide h3 {
        font-size: 20px;
        width: 80%;
        top: 20%;
    }

    .carousel-slide p {
        font-size: 14px;
        width: 80%;
    }

    .carousel-slide .button {
        font-size: 13px;
    }
}

@media (max-width: 680px) {
    .carousel-slide p {
        top: 40%;
    }
    .carousel-slide .button {
        top: 70%;
    }
    .ant-carousel .slick-prev {
        left: 30px;
    }
    
    .ant-carousel .slick-next {
        right: 30px;
    }
}

@media (max-width: 480px) {
    .carousel-slide h3 {
        font-size: 16px;
    }

    .carousel-slide p {
        font-size: 12px;
    }

    .carousel-slide .button {
        font-size: 10px;
    }
}