@import "tailwindcss";

@theme {
    --primary: #000000;

}

.container {
    max-width: 1440px;
    width: 90%;
    margin: auto;
}

.fullContainer {
    max-width: 1540px;
    width: 100%;
    margin: auto;
}